.apraksts {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.btn-time {
    border-radius: 21px;
    width: 150px;
    text-align: right;
    padding-right: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 20px;
    margin-left: -18px;
}

.btn-time:hover {
    background-color: #e51d1d;
}

#btn-reg {
    font-family: 'Montserrat', sans-serif;
    background-color: #de5f85;
    border-style: none;
    color: #ffffff;
}

#btn-reg:hover {
    color: #de5f85;
    border-color: #de5f85;
    background-color: #ffffff;
}

.btn-edit {
    background-image: url('img/icons8-calendar-50.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px 0;
    background-origin: content-box;
}

.master-vote-counter-class {
    padding-left: 0;
    padding-right: 0;
}

.account-right-column-forst-row {
    margin-left: 0;
    margin-right: 0;
}